<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
    <link rel="shortcut icon" href="../../../assets/logoN.png">
</head>

<body>
<div class="container">
        <div class="logo-image">
        <img src="../../../assets/logo150.png" title="Logo" width="150">
        </div>
</div>
    <div contenedor>
    <div class="login-page">
        <div class="form">
            <H4>INICIAR SESIÓN</H4>
            <form class="login-form">
                <div class="inputWithIcon">
                    <input type="email" placeholder="Correo electrónico" >
                    
                  </div>
                  
                  <div class="inputWithIcon">
                    <input type="password" placeholder="Contraseña" >
                  </div>
                <p>
                    <label for="recuerda">Recuérdame</label>
                    <input id="recuerda" type="checkbox" value="si" alt="Recuérdame" class="">
                </p>  
                    <p>
                        <input type="button" style="background-color: #23283D; color: #FFF; forced-color-adjust: #23283D;" value="Ingresar" name="B4" OnClick="location.href='menu.html' ">
                    </p>
                
          </form>
        </div>
      </div>
    </div>
</body>
</html>